@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background: none;
}

button {
  border-style: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

li, a {
  text-decoration: none;
  list-style: none;
}

header {
  height: 151px;
  width: 100%;
}

header, .nav_logo, nav, .nav_left {
  display: flex;
  align-items: center;
}

.nav_logo {
  width: 132px;
  height: 51px;
}
.nav_logo a {
  width: 100%;
  height: 100%;
}
.nav_logo button {
  width: 100%;
  height: 100%;
  background: none;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.nav_logo button span {
  font-size: 0.875rem;
  font-family: "Poppins";
  font-weight: 700;
  color: #FF8A00;
}
.nav_logo button p {
  font-size: 0.875rem;
  font-family: "Poppins";
  font-weight: 700;
  color: #311F09;
}
.nav_logo div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  background-color: #FF8A00;
  border-radius: 100px;
}
.nav_logo div h1 {
  font-size: 1.563rem;
  color: #ffffff;
  font-family: "Poppins";
}

.nav_left {
  width: 200px;
  justify-content: space-between;
}
.nav_left div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAF7;
  border-radius: 100px;
}
.nav_left div:hover {
  background-color: #FAFAF7;
}

.cart_button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #FAFAF7;
}

.cart_button:hover {
  background-color: #e8e8e3;
}

.nav_login {
  width: 112px;
  height: 50px;
  background-color: #3FA72F;
  color: #ffffff;
  border-radius: 133px;
}

.nav_login:hover {
  background-color: #328a24;
}

nav {
  height: 51px;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

ul {
  gap: 45px;
  display: flex;
  justify-content: space-between;
}
ul a {
  color: #311F09;
  transition: 0.2s ease;
  font-size: 0.875rem;
}
ul a:hover {
  color: #FF8A00;
}

.sec1_left {
  margin: 0 auto;
  position: relative;
  right: 300px;
  width: 862px;
  height: 862px;
}

.gray1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 862px;
  height: 862px;
  border-radius: 9999px;
  background-color: #fbfafa;
}

.gray_img {
  width: 550px;
  height: 550px;
  border-radius: 9999px;
  background-image: url(images/sec1/image1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.gray2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 694px;
  height: 694px;
  border-radius: 9999px;
  background-color: #D0CCC7;
}

.sec1 {
  height: 860px;
  width: 100%;
}
.sec1 h1 {
  color: #FF8A00;
  font-family: "Tions";
  font-size: 5rem;
  line-height: 1.1;
  font-weight: bold;
  width: 360px;
}
.sec1 h1 span {
  color: #311F09;
  font-family: "Tions";
  font-size: 5rem;
  line-height: 1.1;
  font-weight: bold;
}
.sec1 p {
  color: #5C4529;
  font-size: 1.25rem;
  font-weight: 300;
  width: 424px;
  line-height: 2;
  font-family: "Poppins";
}

.sec1_main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec1_main .sec1_main_right {
  margin: 0 auto;
  height: 556px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec2 .sec2_main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec2 {
  width: 100%;
  height: 860px;
}
.sec2 p {
  color: #5C4529;
  font-size: 1.25rem;
  font-weight: 300;
  width: 424px;
  line-height: 2;
  font-family: "Poppins";
}

.sec2_right {
  position: relative;
  left: 300px;
  margin: 0 auto;
}

.sec3 {
  height: 955px;
  display: flex;
  align-items: center;
  width: 100%;
}
.sec3 .sec3_main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.sec3 .sec3_main .sec3_main_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec3 .sec3_main .sec3_main_right .sec3_main_right_mid p {
  color: #000000;
  font-size: 2.5rem;
  font-family: "Poppins";
  font-weight: 600;
}
.sec3 .sec3_main .sec3_main_right .sec3_main_right_bot {
  width: 495px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec3 .sec3_main .sec3_main_right .sec3_main_right_bot p {
  width: 495px;
  color: #5C4529;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  font-size: 1.875rem;
}
.sec3 .sec3_main .sec3_main_right .sec3_main_right_bot .sec3_main_right_bot_dots1, .sec3 .sec3_main .sec3_main_right .sec3_main_right_bot .sec3_main_right_bot_dots2 {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
}
.sec3 .sec3_main .sec3_main_right .sec3_main_right_bot .sec3_main_right_bot_dots1 {
  display: flex;
  justify-content: start;
}
.sec3 .sec3_main .sec3_main_right .sec3_main_right_bot .sec3_main_right_bot_dots2 {
  display: flex;
  justify-content: end;
}
.sec3 h1 {
  color: #FF8A00;
  font-family: "Tions";
  font-size: 5rem;
  line-height: 1.1;
  font-weight: bold;
  width: 522px;
}
.sec3 h1 span {
  color: #311F09;
  font-family: "Tions";
  font-size: 5rem;
  line-height: 1.1;
  font-weight: bold;
}

footer {
  height: 691px;
  background-color: #311F09;
  display: flex;
  align-items: center;
}

.footer_main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0 auto;
  width: 80%;
}
.footer_main .footer_main_top {
  display: flex;
  justify-content: space-between;
  height: 335px;
}
.footer_main .footer_main_top .footer_main_left {
  width: 25%;
  height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_main .footer_main_top .footer_main_left .footer_tetxt_p {
  max-width: 85%;
  font-family: "Poppins";
  font-size: 1.25rem;
  line-height: 2;
  font-weight: 200;
  color: #E3E2E0;
}
.footer_main .footer_main_top .footer_main_left .nav_logo p {
  color: #ffffff;
}
.footer_main .footer_main_top .footer_main_left .footer_main_left_buttons {
  max-width: 240px;
  display: flex;
  justify-content: space-between;
}
.footer_main .footer_main_top .footer_main_left .footer_main_left_buttons button {
  width: 60px;
  height: 60px;
  background-color: #E3E2E0;
  border-radius: 100px;
}
.footer_main .footer_main_top .footer_main_left .footer_main_left_buttons button:hover {
  width: 67px;
  height: 67px;
}
.footer_main .footer_main_right {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
.footer_main .footer_main_right .footer_zagolovok {
  color: #FF8A00;
  font-family: "Poppins";
  line-height: 2;
  font-weight: 500;
  font-size: 1.563rem;
}
.footer_main .footer_main_right a {
  color: #E3E2E0;
  font-size: 1.25rem;
  line-height: 2;
  font-family: "Poppins";
  font-weight: 300;
  transition: all 0.1s ease;
}
.footer_main .footer_main_right a:hover {
  font-size: 1.1rem;
}
.footer_main .footer_main_right .footer_main_right_page {
  gap: 13px;
  width: 25%;
  display: flex;
  flex-direction: column;
}
.footer_main .footer_main_right .footer_main_right_info {
  gap: 13px;
  width: 25%;
  display: flex;
  flex-direction: column;
}
.footer_main .footer_main_right .footer_main_right_git {
  gap: 13px;
  width: 25%;
  display: flex;
  flex-direction: column;
}
.footer_main .footer_main_right .footer_main_right_git .footer_default_text {
  color: #E3E2E0;
  font-size: 1.25rem;
  line-height: 2;
  font-family: "Poppins";
  font-weight: 300;
}

.footer_main_bot {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_main_bot p {
  color: #E3E2E0;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 1.25rem;
}/*# sourceMappingURL=style.css.map */