@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background: none;
}

button {
  border-style: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

li, a {
  text-decoration: none;
  list-style: none;
}

header {
  height: 151px;
  width: 100%;
}

header, .nav_logo, nav, .nav_left {
  display: flex;
  align-items: center;
}

.nav_logo {
  width: 132px;
  height: 51px;
}
.nav_logo a {
  width: 100%;
  height: 100%;
}
.nav_logo button {
  width: 100%;
  height: 100%;
  background: none;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.nav_logo button p {
  font-size: 0.875rem;
  font-family: "Poppins";
  font-weight: 700;
  color: #311F09;
}
.nav_logo button span {
  font-size: 0.875rem;
  font-family: "Poppins";
  font-weight: 700;
  color: #FF8A00;
}
.nav_logo div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  background-color: #FF8A00;
  border-radius: 100px;
}
.nav_logo div h1 {
  font-size: 1.563rem;
  color: #ffffff;
  font-family: "Poppins";
}

.nav_left {
  width: 200px;
  justify-content: space-between;
}
.nav_left div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAF7;
  border-radius: 100px;
}
.nav_left div:hover {
  background-color: #FAFAF7;
}

.cart_button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #FAFAF7;
}

.cart_button:hover {
  background-color: #e8e8e3;
}

.nav_login {
  width: 112px;
  height: 50px;
  background-color: #3FA72F;
  color: #ffffff;
  border-radius: 133px;
}

.nav_login:hover {
  background-color: #328a24;
}

.nav_sign_up {
  width: 112px;
  height: 50px;
  background-color: #FF8A00;
  color: #ffffff;
  border-radius: 133px;
}

.nav_sign_up:hover {
  background-color: #cf6f00;
}

nav {
  height: 51px;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

ul {
  gap: 45px;
  display: flex;
  justify-content: space-between;
}
ul a {
  color: #311F09;
  transition: 0.2s ease;
  font-size: 0.875rem;
}
ul a:hover {
  color: #FF8A00;
}

.sec1 {
  width: 100%;
  height: 2800px;
  display: flex;
  justify-content: center;
}

.sec1_main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sec1_main h2 {
  color: #000000;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.875rem;
}
.sec1_main .sec1_main_zagolovok {
  display: flex;
  align-items: center;
}
.sec1_main .sec1_main_zagolovok h1 {
  margin: 0 auto;
  text-align: center;
  color: #311F09;
  font-family: "Tinos";
  font-weight: bold;
  font-size: 5rem;
}
.sec1_main .sec1_main_zagolovok button {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #311F09;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec1_main .sec1_main_zagolovok button:hover {
  width: 45px;
  height: 45px;
}
.sec1_main .sec1_main_address {
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec1_main .sec1_main_address div {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.sec1_main .sec1_main_address div input {
  height: 100px;
  padding: 30px 30px;
  width: 100%;
  background-color: #FBFAFA;
  color: #311F09;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 1.5;
  font-size: 1.563rem;
  border-radius: 20px;
  border-style: none;
}
.sec1_main .sec1_main_address div input::-moz-placeholder {
  color: #311F09;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 1.5;
  font-size: 1.563rem;
}
.sec1_main .sec1_main_address div input::placeholder {
  color: #311F09;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 1.5;
  font-size: 1.563rem;
}
.sec1_main .sec1_main_address div button {
  width: 214px;
  height: 100px;
  background-color: #749FE0;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 1.563rem;
  line-height: 1.5;
  font-weight: 400;
}
.sec1_main .sec1_main_address div button:hover {
  background-color: #4773b4;
  font-size: 1.7rem;
}
.sec1_main .sec1_main_order {
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: space-between;
}
.sec1_main .sec1_main_order div {
  gap: 32px;
  display: flex;
  justify-content: space-between;
}
.sec1_main .sec1_main_order div input {
  width: 50%;
  height: 100px;
  background-color: #FBFAFA;
  padding: 30px 30px;
  color: #311F09;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 1.1;
  font-size: 1.563rem;
  border-radius: 20px;
  border-style: none;
}
.sec1_main .sec1_main_order div input::-moz-placeholder {
  color: #A0978C;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 1.1;
  font-size: 1.563rem;
}
.sec1_main .sec1_main_order div input::placeholder {
  color: #A0978C;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 1.1;
  font-size: 1.563rem;
}
.sec1_main .sec1_main_order input {
  width: 100%;
  height: 277px;
  background-color: #FBFAFA;
  padding: 30px 30px;
  padding-bottom: 220px;
  color: #A0978C;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 1.1;
  font-size: 1.563rem;
  border-radius: 20px;
  border-style: none;
}
.sec1_main .sec1_main_time {
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec1_main .sec1_main_time div {
  width: 520px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.sec1_main .sec1_main_time div p {
  color: #311F09;
  font-size: 1.563rem;
  font-family: "Poppins";
  font-weight: 400;
}
.sec1_main .sec1_main_time div p img {
  margin-left: 20px;
}
.sec1_main .sec1_main_time div input {
  width: 44px;
  height: 44px;
}
.sec1_main .sec1_main_payment {
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec1_main .sec1_main_payment .sec1_main_payment_checkboxes {
  height: 230px;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sec1_main .sec1_main_payment .sec1_main_payment_checkboxes .sec1_main_payment_checkboxes2, .sec1_main .sec1_main_payment .sec1_main_payment_checkboxes .sec1_main_payment_checkboxes1 {
  gap: 32px;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.sec1_main .sec1_main_payment .sec1_main_payment_checkboxes .sec1_main_payment_checkboxes2 div, .sec1_main .sec1_main_payment .sec1_main_payment_checkboxes .sec1_main_payment_checkboxes1 div {
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #FBFAFA;
  border-radius: 20px;
  padding: 50px;
}
.sec1_main .sec1_main_payment .sec1_main_payment_checkboxes .sec1_main_payment_checkboxes2 div p, .sec1_main .sec1_main_payment .sec1_main_payment_checkboxes .sec1_main_payment_checkboxes1 div p {
  color: #311F09;
  font-size: 1.563rem;
  font-family: "Poppins";
  font-weight: 400;
}
.sec1_main .sec1_main_payment .sec1_main_payment_checkboxes .sec1_main_payment_checkboxes2 div input, .sec1_main .sec1_main_payment .sec1_main_payment_checkboxes .sec1_main_payment_checkboxes1 div input {
  width: 44px;
  height: 44px;
}
.sec1_main .sec1_main_privacy {
  gap: 20px;
  display: flex;
}
.sec1_main .sec1_main_privacy input {
  width: 44px;
  height: 44px;
}
.sec1_main .sec1_main_privacy p {
  color: #311F09;
  font-size: 1.875rem;
  font-weight: 400;
  font-family: "Poppins";
}
.sec1_main .sec1_main_button_order_now {
  display: flex;
  justify-content: center;
}
.sec1_main .sec1_main_button_order_now button {
  width: 540px;
  height: 100px;
  background-color: #FF8A00;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins";
  font-size: 1.875rem;
  line-height: 1.1;
  border-radius: 20px;
}
.sec1_main .sec1_main_button_order_now button:hover {
  background-color: #d67301;
  font-size: 2rem;
}

footer {
  height: 691px;
  background-color: #311F09;
  display: flex;
  align-items: center;
}

.footer_main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0 auto;
  width: 80%;
}
.footer_main .footer_main_top {
  display: flex;
  justify-content: space-between;
  height: 335px;
}
.footer_main .footer_main_top .footer_main_left {
  width: 25%;
  height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_main .footer_main_top .footer_main_left .footer_tetxt_p {
  max-width: 85%;
  font-family: "Poppins";
  font-size: 1.25rem;
  line-height: 2;
  font-weight: 200;
  color: #E3E2E0;
}
.footer_main .footer_main_top .footer_main_left .nav_logo p {
  color: #ffffff;
}
.footer_main .footer_main_top .footer_main_left .footer_main_left_buttons {
  max-width: 240px;
  display: flex;
  justify-content: space-between;
}
.footer_main .footer_main_top .footer_main_left .footer_main_left_buttons button {
  width: 60px;
  height: 60px;
  background-color: #E3E2E0;
  border-radius: 100px;
}
.footer_main .footer_main_top .footer_main_left .footer_main_left_buttons button:hover {
  width: 67px;
  height: 67px;
}
.footer_main .footer_main_right {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
.footer_main .footer_main_right .footer_zagolovok {
  color: #FF8A00;
  font-family: "Poppins";
  line-height: 2;
  font-weight: 500;
  font-size: 1.563rem;
}
.footer_main .footer_main_right a {
  color: #E3E2E0;
  font-size: 1.25rem;
  line-height: 2;
  font-family: "Poppins";
  font-weight: 300;
  transition: all 0.1s ease;
}
.footer_main .footer_main_right a:hover {
  font-size: 1.1rem;
}
.footer_main .footer_main_right .footer_main_right_page {
  gap: 13px;
  width: 25%;
  display: flex;
  flex-direction: column;
}
.footer_main .footer_main_right .footer_main_right_info {
  gap: 13px;
  width: 25%;
  display: flex;
  flex-direction: column;
}
.footer_main .footer_main_right .footer_main_right_git {
  gap: 13px;
  width: 25%;
  display: flex;
  flex-direction: column;
}
.footer_main .footer_main_right .footer_main_right_git .footer_default_text {
  color: #E3E2E0;
  font-size: 1.25rem;
  line-height: 2;
  font-family: "Poppins";
  font-weight: 300;
}

.footer_main_bot {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_main_bot p {
  color: #E3E2E0;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 1.25rem;
}

main {
  display: flex;
  flex-direction: column;
}

.sec2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3642px;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1000;
  overflow-y: auto;
  padding: 20px;
}

.sec2_main {
  background-color: #ffffff;
  width: 80%;
  max-width: 1112px;
  height: 1340px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sec2_main .sec2_main_inside {
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sec2_main .sec2_main_inside .sec2_main_header {
  display: flex;
  justify-content: space-between;
}
.sec2_main .sec2_main_inside .sec2_main_header .nav_left {
  width: 240px;
}

.sec2_krest {
  background-color: #ffffff;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.sec2_krest .sec2_krest_back {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  display: flex;
  background-image: url(images/sec2/image1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.sec2_main_zagolovok {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.sec2_main_zagolovok h1 {
  font-size: 1.875rem;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.1;
  color: #000000;
}

.sec2_main_bot {
  width: 100%;
  height: 50%;
  background-image: url(images/sec2/map1.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec2_main_bot .sec2_main_bot_inside {
  border-radius: 20px;
  height: 312px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.67);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec2_main_bot_ins {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sec2_main_bot_ins1 {
  border-radius: 15px;
  width: 194px;
  height: 255px;
  background-image: url(images/sec2/dom.png);
  background-repeat: no-repeat;
  background-position: center;
}

.sec2_main_bot_ins2 {
  height: 243px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec2_main_bot_ins2 h2 {
  color: #311F09;
  font-weight: 700;
  font-size: 1.563rem;
  line-height: 1.1;
  font-family: "Poppins";
}
.sec2_main_bot_ins2 p {
  color: #311F09;
  font-weight: 500;
  font-family: "Poppins";
  line-height: 1.5;
  font-size: 1.25rem;
}
.sec2_main_bot_ins2 button {
  width: 100%;
  height: 77px;
  background-color: #FF3838;
  border-radius: 15px;
  color: #FFFFFF;
  font-weight: 700;
  font-family: "Poppins";
  line-height: 1.5;
  font-size: 1.25rem;
}
.sec2_main_bot_ins2 button:hover {
  background-color: #d12d2d;
  font-size: 1.4rem;
}

.sec2_main_mid {
  height: 233px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sec2_main_mid1 {
  display: flex;
  gap: 35px;
}
.sec2_main_mid1 input {
  padding: 30px 30px;
  background-color: #FBFAFA;
  border-radius: 20px;
  border-style: none;
  width: 100%;
  height: 100px;
  font-weight: 500;
  color: #311F09;
  font-family: "Poppins";
  font-size: 1.563rem;
}
.sec2_main_mid1 input::-moz-placeholder {
  font-weight: 500;
  color: #A0978C;
  font-family: "Poppins";
  font-size: 1.563rem;
}
.sec2_main_mid1 input::placeholder {
  font-weight: 500;
  color: #A0978C;
  font-family: "Poppins";
  font-size: 1.563rem;
}
.sec2_main_mid1 button {
  background-color: #53A5E0;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.563rem;
  width: 214px;
  height: 100px;
}
.sec2_main_mid1 button:hover {
  background-color: #4286b6;
  font-size: 1.8rem;
}

.sec2_main_mid2 {
  display: flex;
  gap: 35px;
}
.sec2_main_mid2 button {
  gap: 10px;
  display: flex;
  padding: 30px 30px;
  background-color: #FBFAFA;
  border-radius: 20px;
  border-style: none;
  width: 100%;
  height: 100px;
  color: #FF3838;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.563rem;
}
.sec2_main_mid2 button:hover {
  background-color: #dadada;
  font-weight: 500;
  font-size: 1.68rem;
}
.sec2_main_mid2 div {
  width: 214px;
  height: 100px;
}/*# sourceMappingURL=style.css.map */